.filter {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  scale: 1.0002;
}
