*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgba(241, 243, 255, 1);
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, sans-serif;
}

.swal2-shown {
  overflow: unset !important;
  padding-right: 0px !important;
}

.swal2-popup {
  font-size: 1.6rem !important;
}
